server {
    listen 80;
    server_name {{ server_name }};
    access_log /var/log/nginx/{{ project_name }}_access.log;
    error_log /var/log/nginx/{{ project_name }}_error.log;

    location / {
        proxy_pass http://localhost:{{ gunicorn_port }};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;
    }

    location /static/ {
        alias {{ static_root }}/;
        autoindex off;
    }

    location /media/ {
        alias {{ media_root }}/;
        autoindex off;
    }
}